# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
.vscode/

# Secrets
*.pem
Secrets.xcconfig
.env
.env.*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

amperfy/
